{% extends "layout.html" %}
{% block body %}
    <div class="container py-4">
            <form action="{{ url_for('auth.admin_registration') }}" method="POST">
                {{ form.csrf_token }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Admin Registration</legend>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="form-group mb-2">
                            {{ form.first_name.label(class="form-control-label") }}
                            {% if form.first_name.errors %}
                                {{ form.first_name(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                        {% for error in form.first_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                            {% else %}
                                {{ form.first_name(class="form-control") }}
                            {% endif %}
                        </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group mb-2">
                              {{ form.last_name.label(class="form-control-label") }}
                              {% if form.last_name.errors %}
                                  {{ form.last_name(class="form-control is-invalid") }}
                                  <div class="invalid-feedback">
                                          {% for error in form.last_name.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                  </div>
                              {% else %}
                                  {{ form.last_name(class="form-control") }}
                              {% endif %}
                          </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group mb-2">
                              {{ form.username.label(class="form-control-label") }}
                              {% if form.username.errors %}
                                  {{ form.username(class="form-control is-invalid") }}
                                  <div class="invalid-feedback">
                                          {% for error in form.username.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                  </div>
                              {% else %}
                                  {{ form.username(class="form-control") }}
                              {% endif %}
                          </div>
                          </div>
                        </div>
                    
                    <div class="form-group mb-2">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-2">
                        {{ form.address.label(class="form-control-label") }}
                        {% if form.address.errors %}
                            {{ form.address(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                    {% for error in form.address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% else %}
                            {{ form.address(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-2">
                        {{ form.phone_number.label(class="form-control-label") }}
                        {% if form.phone_number.errors %}
                            {{ form.phone_number(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                    {% for error in form.phone_number.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone_number(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-2">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-2">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group mt-2">
                    {{ form.submit(class="btn btn-lg btn-outline-info") }}
                </div>
            </form>
        <div class="bortder-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{{ url_for('auth.login') }}">Sign-In</a>
            </small>
        </div>
    </div>
   {% endblock %}